#include <windows.h>
#include "resource.h"

IDD_ETHERCAT_GUI DIALOGEX 0, 0, 760, 460
STYLE DS_SETFONT | WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN
EXSTYLE WS_EX_APPWINDOW
CAPTION "SOEM EtherCAT Master Monitor"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_BACKEND,8,8,80,80,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Host",IDC_RT_HOST_LABEL,94,10,24,10
    EDITTEXT        IDC_RT_HOST,120,8,74,14,ES_AUTOHSCROLL
    LTEXT           "Port",IDC_RT_PORT_LABEL,200,10,22,10
    EDITTEXT        IDC_RT_PORT,224,8,36,14,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDC_ADAPTER,8,8,210,120,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Refresh",IDC_REFRESH,224,8,48,14
    PUSHBUTTON      "Connect",IDC_CONNECT,278,8,48,14
    PUSHBUTTON      "Disconnect",IDC_DISCONNECT,332,8,58,14
    CONTROL         "Request OP",IDC_OPMODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,398,9,58,12
    LTEXT           "Period(us)",IDC_PERIOD_LABEL,462,10,44,10
    EDITTEXT        IDC_PERIOD,508,8,44,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Disconnected",IDC_SUMMARY,8,28,744,20,SS_LEFT
    CONTROL         "",IDC_SLAVES,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,8,54,200,398
    CONTROL         "",IDC_TABS,"SysTabControl32",WS_TABSTOP,216,54,536,398
    CONTROL         "",IDC_STATUS_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,224,78,520,366
    EDITTEXT        IDC_PDO_EDIT,224,78,520,366,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
    LTEXT           "Slave",IDC_SDO_SLAVE_LABEL,224,82,26,10
    EDITTEXT        IDC_SDO_SLAVE,252,78,36,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Index",IDC_SDO_INDEX_LABEL,296,82,28,10
    EDITTEXT        IDC_SDO_INDEX,326,78,50,14,ES_AUTOHSCROLL
    LTEXT           "Sub",IDC_SDO_SUB_LABEL,384,82,20,10
    EDITTEXT        IDC_SDO_SUB,406,78,32,14,ES_AUTOHSCROLL
    LTEXT           "Size",IDC_SDO_SIZE_LABEL,446,82,22,10
    EDITTEXT        IDC_SDO_SIZE,470,78,34,14,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "Read SDO",IDC_SDO_READ,514,78,52,14
    EDITTEXT        IDC_SDO_RESULT,224,100,520,344,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
    EDITTEXT        IDC_STATS_EDIT,224,78,520,366,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    PUSHBUTTON      "Import XML",IDC_XML_IMPORT,224,78,62,14
    PUSHBUTTON      "Reload DB",IDC_XML_RELOAD,292,78,58,14
    CONTROL         "",IDC_XML_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,224,100,520,210
    EDITTEXT        IDC_XML_DETAIL,224,316,520,128,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    EDITTEXT        IDC_LOG_EDIT,224,78,520,366,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "EtherCAT Master Project"
            VALUE "FileDescription", "SOEM EtherCAT Master Monitor"
            VALUE "FileVersion", "0.1.0"
            VALUE "InternalName", "ethercat_gui"
            VALUE "OriginalFilename", "ethercat_gui.exe"
            VALUE "ProductName", "EtherCAT Master Software"
            VALUE "ProductVersion", "0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
